body {
  background-color: rgb(56, 55, 55);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.top {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  position: fixed;
}

.heading {
  margin-top: 1%;
  color: rgb(228, 228, 228);
}

.text_area {
  background-color: rgb(141, 135, 135);
  border-radius: 40px;
  padding: 100px;
  color: rgb(19, 19, 19);
  font-size: 20px;
  border: 3px solid rgb(22, 22, 22);
  box-shadow: 5px 5px 5px #696868;
}
.button {
  position: relative;
  padding: 10px 15px;
  margin-top: 30px;
  background-color: #000000;
  cursor: pointer;
  border-radius: 40px;
  font-weight: bolder;
  font-size: 20px;
  border: 3px solid rgb(170, 170, 170);
  color: rgb(138, 135, 135);
}
.footer {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  position: fixed;
  color: azure;
}
